PROTO_LANGDIR/
data/
ext/standard_kaldi
ext/mkgraph
ext/*-test
ext/*.o
ext/.depend.mk
*.pyc
*.swp
*~
webdata/
gentle.egg-info/
exp/
ext/k3_gentle_original
ext/m3_gentle_original
ext/k3
ext/m3
french_output.json
ext/kaldi/
kaldi/decoding/conf/*_decoding_job_ivectors_conf/
